.comment {
    margin: 10px 10px 10px 0;
    border: 1px solid black;
    padding: 15px;
    background-color: highlight;
}

.noComment{
    margin-top: 20px;
}

#commentWrap{
  margin-bottom: 100px;
}

.commentC{
  margin:10px 0;
}
